body {
    background-color: rgb(235, 159, 92);
    margin: 0px
    text-align; center}

nav a {
    margin-top: 5px;
    padding: 2px;
    font-size: 20px;
    color:rgb(86, 13, 155);
    display: flex;
    justify-content: center;
}


p {
    color: rgb(121, 0, 213);
    padding-top: 5%;
    .centro {
        text-align: center;
}

.LARANJAULTRAFORTE {
    width: 50%;
}


 {
    font-style: italic;
}