body {
    background-color: rgb(235, 159, 92);
    margin: 0px
    text-align: center;
}

nav a {
    margin-top: 5px;
    padding: 2px;
    font-size: 20px;
    color:rgba(138, 40, 230, 0.192);
    display: flex;
    justify-content: center;
}


p {
    color: rgb(252, 161, 87);
    padding-top: 5%;
    .centro {
        text-align: center;
}

.img1 {
    width: 50%;
}


.LARANJAULTRAFORTE {
    font-style: italic;
}